<div class="contact">
  <div class="contactlinks">
    <a
      id="linkedin"
      href="https://www.linkedin.com/in/thomasdussart/"
      target="blank_"
      ><i class="fab fa-linkedin"></i
    ></a>
    <a id="github" href="https://github.com/thomasdussart" target="blank_"
      ><i class="fab fa-github"></i
    ></a>
    <a id="mail" href="mailto:thomas.dussart@gmail.com" target="blank_"
      ><i class="fas fa-envelope"></i
    ></a>
  </div>
</div>
<!-- https://dev.to/angular/angular-fontawesome-in-five-easy-steps-3oe9 -->
