<div class="cv">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. A magni sapiente,
  libero explicabo iste voluptates quasi facilis vel vero voluptatem! Eum ipsam
  doloribus quia harum, quae provident dicta magnam inventore!
  <div class="logos">
    <img src="../../../assets/img/html5.png" alt="" />
    <img src="../../../assets/img/css3.png" alt="" />
    <img src="../../../assets/img/js.png" alt="" />
    <img class="react" src="../../../assets/img/react.png" alt="" />
    <img src="../../../assets/img/node.png" alt="" />
    <img src="../../../assets/img/express.png" alt="" />
    <img src="../../../assets/img/angular.png" alt="" />
    <img class="php" src="../../../assets/img/phplogo.png" alt="" />
    <img src="../../../assets/img/mongodb.png" alt="" />
    <img src="../../../assets/img/mysql.png" alt="" />
  </div>
</div>
