<!-- <ul>
  <li>About Me</li>
  <li>CV</li>
  <li>Portfolio</li>
</ul> -->
<div class="menu">
  <div class="sidermenu">
    <ul nz-menu nzMode="inline" nzMode="inline">
      <ul>
        <li class="item" nz-menu-item nzMatchRouter>
          <a routerLink="/welcome">Welcome</a>
        </li>
        <li class="item" nz-menu-item nzMatchRouter>
          <a routerLink="/cv">CV</a>
        </li>
        <li class="item" nz-menu-item nzMatchRouter>
          <a routerLink="/portfolio">Portfolio</a>
        </li>
      </ul>
    </ul>
  </div>
</div>
